{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            <!-- Stocks loop -->
            {% for event in history %}
                <tr>
                    <td>{{ event.symbol }}</td>
                    <td>{{ event.shares }}</td>
                    <td>{{ event.price }}</td>
                    <td>{{ event.transacted }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}