{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block styles %}
    {{ super() }}
{% endblock %}

{% block navbar %}
    {{ super() }}
{% endblock %}

{% block main %}

    <div class="user-auth-form">

        <h1 class="form-group">Login</h1>

        <form action="/login" method="POST">

            <div class="form-group">
                <input class="form-control" name="email" type="email" placeholder="E-mail">
            </div>

            <div class="form-group">
                <input class="form-control" name="password" type="password" placeholder="Password">
            </div>

            <div class="form-group">
                <button class="btn btn-lg btn-success" type="submit">Log In</button>
            </div>

        </form>

        <p>
            Not yet a user? Click
            <a href="{{ url_for('register') }}">here</a>
            to register!
        </p>

    </div>

{% endblock %}