{% extends "layout.html" %}

{% block title %}
    Post Edit
{% endblock %}

{% block styles %}
    {{ super() }}
{% endblock %}

{% block navbar %}
    {{ super() }}
{% endblock %}

{% block main %}

    <form class="post row" action="/post/{{ post.id }}/edit" method="POST">

        <div class="post-picture col-md-3">
            <img class="round-medium-pic" src="/{{ post.author_picture }}" alt="{{ post.author_first }} {{ post.author_last }}"/>
        </div>

        <div class="post-data col-md-9">
            <div class="post-metadata row">
                <div class="post-author-name col-md-3">
                    <a href="/profile/{{ post.author_id }}">{{ post.author_first }} {{ post.author_last }}</a>
                </div>
                <div class="post-date-published col-md-5 text-muted">
                    Published on {{ post.date_published }}
                </div>

                {% if post.author_id == session.user_id %}
                <div class="post-edit col-md-2"></div>
                <div class="post-delete col-md-2">
                    <a class="btn btn-sm btn-danger" href="/post/{{ post.id }}/delete">Delete post</a>
                </div>
                {% endif %}
            </div>
            <hr/>
            <div class="post-content row">
                <div class="col-md-11">
                    <textarea class="form-control" name="content" placeholder="Share something here." rows="3" cols="50">{{ post.content }}</textarea>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="form-group row">
                <button class="btn btn-md btn-success" type="submit">Update post</button>
            </div>
        </div>
    </form>

{% endblock %}